.home{
    background: #333;
    display: absolute;
}

.dashboard{
    background: #333;
    display: flex;
    margin: 0;
    padding: 0;
    min-height: 90vh;
    justify-content: center;
    align-items: center;
}

.containerdash{
    width: 1500px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.containerdash .cardash{
    position: relative;
    cursor: pointer;
}

.containerdash .cardash .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.containerdash .cardash .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.containerdash .cardash:hover .face.face1{
    background: #ff0057;
    transform: translateY(0);
}

.containerdash .cardash .face.face1 .contentdash{
    opacity: 0.5;
    transition: 0.5s;
}

.containerdash .cardash:hover .face.face1 .contentdash{
    opacity: 1
}

.contentdash-img{
    max-width: 100px;
}

.contentdash-h3{
    margin: 10px 0 0;
    padding: 0;
    color: #333;
    text-align: center;
    font-size: 1.5em;
}

.face.face2{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.cardash:hover .face.face2{
    transform: translateY(0);
    background: white;
}

.contentdash-p{
    margin: 0;
    padding: 0;
}


/* footer */

.mainfooter{
    width: 100%;
    display: flex;
    justify-content: left;
    color: white;
    padding-bottom: 30px;
}

.virtufooter{
    display: flex;
    justify-content: left;
    margin-left: 20px;
    padding: 10px;
}
.virtufooter-h5{
    padding-left: 10px;
    top: 5px;
}

.imgfooter{
    height: 45px;
    width: 45px;
}

.imgheader{
    height: 40px;
    width: 40px;
}

/* BOTÓN */
.btnhome{
    width: 80px;
    height: auto;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 0;
    font-weight: 500;
    background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(251, 75,2, 1)100%);
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 
    7px 7px 20px 0px rgba(0, 0, 0, 0.1),
    4px 4px 5px 0px rgba(0, 0, 0, 0.1)
    ;
    outline: none;
    line-height: 42px;
}




.linkh{
    color: #fff;
}

.linkh:hover{
    color:rgba(251, 75,2, 1)
}