.maphome{
    background: #0E334Bff;
    display: flex;
    margin: 0;
    padding: 0;
    min-height: 90vh;
    justify-content: center;
    align-items: center;
}
.mapti{
    color: white;
    margin-top: 5px;
}
.mapcontainer{
    width: 1300px;
    position: relative;
    display: flex;
    justify-content: center;
}
.floorcontainer{
    padding-top: 10px;
    background: rgb(14, 51, 75, 0.3);
}
.mapcard{
    padding-top: 10px;
    font-weight: bold;
}
.maplist{
    padding-top: 10px;
} 
.maptitle{
    font-family: 'Miltonian';
}

.mapimg{
    position: relative;
    top: 140px;
    right: 180px;
    width: 205px;
    height: auto;
}
.mapimg1{
    position: relative;
    top: 310px;
    width: 200px;
    height: auto;
}
.mapimg2{
    position: relative;
    top: 560px;
    right: 350px;
    width: 200px;
    height: auto;
}

/* BOTÓN */
.btnhome1{
    width: 80px;
    height: auto;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 0;
    font-weight: 500;
    background: linear-gradient(0deg, rgba(237,207,1,1) 0%, rgba(1, 114,192, 1)100%);
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 
    7px 7px 20px 0px rgba(0, 0, 0, 0.1),
    4px 4px 5px 0px rgba(0, 0, 0, 0.1)
    ;
    outline: none;
    line-height: 42px;
}


.btnhome1 span{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.btnhome1::before,
.btnhome1::after{
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: rgba(1, 114,192, 1);
    box-shadow: 
    -7px -7px 20px 0px rgba(255, 255, 255, .9),
    -4px -4px 5px 0px rgba(255, 255, 255, .9),
    7px 7px 20px 0px rgba(0, 0, 0, 0.2),
    4px 4px 5px 0px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.btnhome1::before{
    height: 0%;
    width: 2px;
}

.btnhome1::after{
    width: 0%;
    height: 2px;
}
.btnhome1:hover{
    color: white;
    background: transparent;
}
.btnhome1:hover::before{
    height: 100%;
}
.btnhome1:hover::after{
    width: 100%;
}
.btnhome1 span::before,
.btnhome1 span::after{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: rgba(1, 114,192, 1);
    box-shadow: 
    -7px -7px 20px 0px rgba(255, 255, 255, .9),
    -4px -4px 5px 0px rgba(255, 255, 255, .9),
    7px 7px 20px 0px rgba(0, 0, 0, 0.2),
    4px 4px 5px 0px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}
.btnhome1 span::before{
    width: 2px;
    height: 0%;
}
.btnhome1 span::after{
    height: 2px;
    width: 0%;
}
.btnhome1 span:hover::before{
    height: 100%;
}
.btnhome1 span:hover::after{
    width: 100%;
}
