
.normshome{
    background: #0E334Bff;
    display: flex;
    margin: 0;
    padding: 0;
    min-height: 90vh;
    justify-content: center;
    align-items: center;
} 
.roleti{
    color: white;
}

.normcontainer{
    width: 1300px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.normsimg{
    height: max-content;
} 

.normsheader{
    font-family: 'Miltonian';
}

h1{
    font-family: 'Miltonian';
}

